@import "tailwindcss";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}